
@import "~bootstrap/scss/bootstrap"; 

body {
    background-image: url(~/assets/img/bg_light.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: .9s ease;
}