
@import "~bootstrap/scss/bootstrap"; 
@import "./variables.scss";

body {
    background-image: url(~/assets/img/bg_light.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: .9s ease;
} 

.hoverable {
    &:hover { cursor: pointer; }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.shadow-1 {
    box-shadow: 0px 2px 18px #22222836;
}